ninja
pybind11

diffusers==0.35.1
einops
opencv-python
numpy
torch
transformers==4.56.2
torchvision
#taming-transformers-rom1504
#ConfigArgParse
#ipdb
omegaconf

#sentencepiece
tqdm

# Mesh Processing
trimesh
pymeshlab
pygltflib
xatlas
#kornia
#facexlib

# Training
accelerate
#pytorch_lightning
#scikit-learn
#scikit-image

# Demo only
gradio
fastapi
uvicorn
rembg
onnxruntime
#gevent
#geventhttpclient

smplx
rtree
pyglet<2
nuscenes-devkit
pyquaternion
imageio[ffmpeg]
git+https://github.com/mattloper/chumpy.git
timm
wandb
